{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>
        <strong>Welcome to the Airsoft Warriors,</strong>

        we are dedicated to providing airsoft enthusiasts with a comprehensive resource for all things related to the exciting world of Airsoft. 
        Whether you're a beginner looking to get started or an experienced player seeking advanced strategies and gear, our Airsoft Warriors is your go-to destination.

        <strong>Join the Airsoft Revolution</strong>

        Immerse yourself in the thrilling world of Airsoft with <strong>Airsoft Warriors</strong>. 
        Whether you're a casual player, a seasoned veteran, or simply curious about the sport, our Airsoft Zone offers valuable resources, expert advice, and a supportive community. 
        Get ready to take your skills to new heights, discover the latest gear, and connect with fellow Airsoft enthusiasts. 

        <strong>Welcome to the ultimate destination for everything Airsoft!</strong>

        Remember to always follow local laws, rules, and regulations regarding Airsoft gameplay and safety.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3><strong>What is Airsoft?</strong></h3>
			<p>
				Airsoft is a dynamic and adrenaline-fueled recreational sport that simulates military combat using replica firearms that shoot plastic BBs. 
                It offers a thrilling and immersive experience for players of all ages and skill levels. 
                From intense skirmishes to tactical team operations, Airsoft brings together elements of strategy, teamwork, and physical fitness.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://uploads.patrolbase.co.uk/blogs/types%20of%20airsoft%20gun/vendetta-130.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://main-cdn.grabone.co.nz/goimage/600x415/8709c41c2c10aa40b217298c3ff6626cb8bc0642.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3><strong>Explore our Airsoft Zone:</strong></h3>
			<p>
				<strong>Getting Started:</strong> If you're new to Airsoft, this section provides a step-by-step guide on how to get started. 
                Learn about the basic rules, safety guidelines, and essential equipment needed to begin your Airsoft journey. 
                We'll help you choose the right beginner's gear and offer tips on finding local fields and events to join.
			</p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3><strong>Tactics and Strategies:</strong></h3>
			<p>
				Discover advanced gameplay techniques, tactical maneuvers, and strategies to enhance your Airsoft skills. 
                Dive into articles, tutorials, and videos that cover various scenarios, including team communication, cover usage, flanking, and more. 
                Whether you're a lone wolf or a team player, our resources will take your gameplay to the next level.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://uploads.patrolbase.co.uk/blogs/p.g%20cqb%20-%20slicing%20the%20pie/tactics%20room%20%20-%20slicing%20the%20pie.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/83/85/84/83858499cf810796fec4d36bb19be3a9.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3> <strong>Gear and Equipment:</strong></h3>
			<p>
				Find detailed reviews, recommendations, and buying guides for Airsoft guns, protective gear, accessories, and upgrades. 
                We'll help you navigate the wide range of options available, providing insights into the best brands, models, and features. 
                Stay up to date with the latest innovations and technology in the Airsoft industry.

			</p>
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-7">
            <h3><strong>Community and Events:</strong></h3>
			<p>
				Connect with fellow Airsoft enthusiasts through our vibrant community. 
                Engage in discussions, share experiences, and seek advice in our forums. Stay informed about upcoming events, tournaments, and gatherings in your area. 
                From local meet-ups to large-scale operations, join forces with like-minded individuals who share your passion for Airsoft.
			</p>
        </div>
        <div class="col-md-5">
            <img src="https://gunfire.com/data/include/img/news/1660733506.webp" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://www.socomtactical.net/wp-content/uploads/2021/01/airsoft-safety-rules.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3><strong>Safety and Regulations:</strong> </h3>
			<p>
				Safety is paramount in Airsoft, and this section emphasizes the importance of responsible gameplay. 
                Learn about proper eye protection, FPS (feet per second) limits, and field-specific rules. 
                We'll guide you on maintaining a safe environment for yourself and others while enjoying the thrill of Airsoft.
			</p>
        </div>
    </div>
{% endblock %}